<header class="topbar">
  <div class="wrap">
    <div class="brand">
      <img src="/assets/logo.png" alt="logo" />
      <span>STREAM</span>
    </div>

    <ng-container *ngIf="auth.loggedIn$ | async as loggedIn">
      <nav *ngIf="loggedIn && (auth.role$ | async) === 'USER'" class="nav">
        <a routerLink="/store" routerLinkActive="active">STORE</a>
        <a routerLink="/user/library" routerLinkActive="active">LIBRARY</a>
        <a routerLink="/user/profile" routerLinkActive="active">NAMEPROFILE</a>
      </nav>

      <nav *ngIf="loggedIn && (auth.role$ | async) === 'ADMIN'" class="nav">
        <a routerLink="/admin" routerLinkActive="active">DASHBOARD</a>
        <a routerLink="/admin/games" routerLinkActive="active">GAMES</a>
        <a routerLink="/admin/coupons" routerLinkActive="active">COUPONS</a>
        <a routerLink="/admin/transactions" routerLinkActive="active"
          >TRANSACTIONS</a
        >
        <a routerLink="/admin/ranking" routerLinkActive="active">RANKING</a>
      </nav>

      <div class="profile" *ngIf="loggedIn">
        <ng-container *ngIf="userStore.profile$ | async as p">
          <img
            class="profile-avatar"
            [src]="imgSrc(p)"
            (error)="onImgError($event)"
            alt="avatar"
          />
          <div class="profile-meta">
            <span class="name">{{ p.displayName || "NameProfile" }}</span>
            &nbsp;
            <span class="wallet"
              >{{ p.walletBalance | number : "1.0-0" }}฿</span
            >
          </div>
          <button class="logout" (click)="logout()">ออก</button>
        </ng-container>
      </div>
    </ng-container>

    <nav *ngIf="!(auth.loggedIn$ | async)" class="nav">
      <a routerLink="/store" routerLinkActive="active">STORE</a>
      <a routerLink="/login">LOGIN</a>
      <a routerLink="/register">REGISTER</a>
    </nav>
  </div>
</header>
