<div class="details">
    <h1 class="title">{{ game().title }}</h1>

    <div class="top">
        <div class="media">
            <div class="hero">
                <img [src]="active()" [alt]="game().title" />
            </div>

            <div class="thumbs">
                <button class="thumb" *ngFor="let s of combinedGallery()" [class.active]="active()===s"
                    (click)="setActive(s)">
                    <img [src]="s" [alt]="game().title" />
                </button>
            </div>
        </div>

        <aside class="info">
            <div class="box cover">
                <img [src]="game().cover" [alt]="game().title" />
            </div>

            <div class="box meta">
                <p class="desc">{{ shortDesc() }}</p>

                <div class="row">
                    <span class="label">Release Date</span>
                    <span class="value">{{ game().releaseDate | date:'d MMM y' }}</span>
                </div>
                <div class="row">
                    <span class="label">Publisher</span>
                    <span class="value">{{ game().publisher }}</span>
                </div>
                <div class="row">
                    <span class="label">Audience</span>
                    <span class="pill pill-rating">{{ game().rating | number:'1.0-1' }}</span>
                </div>
                <div class="row">
                    <span class="label">Tags</span>
                    <span class="tags">
                        <span class="tag" *ngFor="let t of game().tags">{{ t }}</span>
                    </span>
                </div>
            </div>
        </aside>
    </div>

    <div class="purchase">
        <div class="left">
            <div class="name">{{ game().title }}</div>
            <div class="sub">WEEKEND DEAL ends 19 October</div>
        </div>

        <div class="right">
            <span *ngIf="game().discount" class="pill-discount">-{{ game().discount }}%</span>
            <div class="price-block">
                <span class="strike" *ngIf="game().discount">฿ {{ game().price | number:'1.2-2' }}</span>
                <span class="pill-price"
                    [ngClass]="{ 'is-discount': !!game().discount, 'is-normal': !game().discount }">฿ {{ finalPrice() |
                    number:'1.2-2' }}</span>
            </div>
            <button class="add" (click)="addToCart()">Add to Cart</button>
        </div>
    </div>

    <section class="about">
        <h2>About {{ game().title }}</h2>
        <ul>
            <li *ngFor="let line of game().description">{{ line }}</li>
        </ul>
    </section>
</div>